<h1>Hello World!</h1>

<h2>Carros:</h2>
<ul>
    <% for(var i = 0; i<carros.length; i++) { %>
        <li><%= carros[i] %></li>
    <% } %>
</ul>

<div>
    <a href="/contato">Ir para os contatos</a>
</div>