<h1>Usuários cadastrados</h1>
<a class="btn btn-secondary" href="usuarios/cadastrar">Novo Usuário</a>

<div>
  <h1>Usuários</h1>
  <table class="table table-striped" id="tabelaUsuarios">
    <thead>
      <th>Email</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Ativo</th>
      <th></th>
    </thead>
    <tbody></tbody>
  </table>
</div>

<script src="/js/listagem.js"></script>