<script src="/js/tabs.js"></script>
<link rel="stylesheet" href="/css/tabs.css">

<div class="tab">
    <button class="tablink" onclick="openTab(event, 'tab1')" data-tabname="tab1">Tab 1</button>
    <button class="tablink" onclick="openTab(event, 'tab2')" data-tabname="tab2">Tab 2</button>
    <button class="tablink" onclick="openTab(event, 'tab3')" data-tabname="tab3">Tab 3</button>
</nav>
<div>
    <p id="tab1" class="tabcontent">Conteudo tab 1</p>
    <p id="tab2" class="tabcontent">Conteudo tab 2</p>
    <p id="tab3" class="tabcontent">Conteudo tab 3</p>
</div>
